@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes confetti {
  0% {
    transform: translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
    opacity: 0;
  }
}

.animate-confetti {
  animation: confetti 2.5s linear forwards;
}
